---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {%- for page in collections.page -%}
      <li{% if page.url == page.url %} aria-current="page"{% endif %}><a href="{{ page.url }}">{{ page.data.title }}</a></li>
    {%- endfor -%}

    <h1>BLOG</h1>
    {{ content | safe }}
    <a href="{{buttonLink}}">{{button}}</a>
  </body>
</html>
